# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
Client/Client.VC.db
*.pdb
Client/Client/Release/Client.tlog/link.write.1.tlog
*.pdb

Client/rpclib-master/build/ZERO_CHECK.vcxproj.filters
*.opendb
*.tlog
*.pdb
*.tlog
*.log
*.db
Leap Project/GLFWStarterProject.VC.db
